@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.titulo {
    color: rgb(9, 176, 242);
    display: flex;
    align-items: center;
    font-family: 'Fredoka One', cursive;
}


body {
    font-family: 'Press Start 2P', cursive;
    background-image: url("./img/fondo.jpg");
    background-attachment: fixed;
    color: aliceblue;
    background-size: cover;
}




.frutas, .carnes, .verduras {
    background-size: 30px;
    width: 70px;
    height: 180px;
    padding: 140px;
    border-radius: 60px;
    font-family: 'Press Start 2P', cursive;
    overflow: center;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    float: left;
    margin: 40px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;


}


.frutas, .carnes, .verduras {
    background: black;
    background-size: 70% 70%;
    border: none;
}


.frutas:hover, .carnes:hover, .verduras:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-6%);
}

