* {
    margin: 25px 0 0 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 25px 25px 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color:#252525;
    color: #ffffff;
}

h1, h2 {
    text-align: center;
    color: #ff4500;
}

footer {
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    text-decoration: underline;
}